<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  There's a point in time where you've tried what you could but knew there was a way to get further.  Checkout these resources to help you get there.
  <br>
  <br>
  <a href="http://thebrilliantbeastblog.com/">The Brilliant Beast Blog</a> - See how Steve built his squat to over x2 his body weight without protein shakes & spending hours at the gym.
  
</p>
