<h3> Comments </h3>
<% commentable.comments.each do |comment| %>
	<div class="well">
		 <%= comment.body %> 
		- by <%= comment.user.name %> |
		created at: <%= comment.created_at %> 


	</div>
<% end %>