<% provide(:title, 'All users') %>
<div class="row">
	<aside class="col-mid-8">
		<section class="user_info">
			<h1>All users</h1>
		</section>
		<%= render 'shared/user_search' %>
	</aside>
	<%= render'shared/search_results' %>

	<%= link_to 'All Users', users_path %>
</div>